<h1> Setting the Document Title</h1>
<pre>
  we import title from  @amgularcore/platform-browser
  ill use it in a class to set the title 
  ill put it in constructor and give the access specifier as private because this data should not be altered without previlege.

  ==============================================================================================================================

</pre>
<h1>Interpolation vs Property Binding</h1>
<pre>
Interpolation and Property Binding

when we use interpolation on the attribute instead of property binding it gives the output 
Doesnot make any Difference
Problems comes for some attribute which takes boolean value

wkt any value other than 0 and empty string ie. "" is false
 ( "  " is also true in vanilla js  )
if we do property binding on the attributes which takes boolean value will be always true on interpolation of the data. 

</pre>