<h1> Setting the Document Title</h1>
<pre>
  we import title from  @amgularcore/platform-browser
  ill use it in a class to set the title 
  ill put it in constructor and give the access specifier as private because this data should not be altered without previlege.

  ==============================================================================================================================

</pre>
<h1>Interpolation vs Property Binding</h1>
<pre>
  Interpolation and Property Binding

  when we use interpolation on the attribute instead of property binding it gives the output 
  Doesnot make any Difference
  Problems comes for some attribute which takes boolean value

  wkt any value other than 0 and empty string ie. "" is false
  ( "  " is also true in vanilla js  )
  if we do property binding on the attributes which takes boolean value will be always true on interpolation of the data. 

  ==============================================================================================================================

</pre>

<h1>Binding to a Style</h1>

<pre>
  property binding works bit differently on the dynamic styling.
  lets take an example of <a href="https://angular-qcbqdm.stackblitz.io">STYLE BINDING</a>
  <a href="https://stackblitz.com/edit/angular-qcbqdm?file=src%2Fapp%2Fmovie-tile%2Fmovie-tile.component.ts">stackblizz code</a>
</pre>

<h1>Binding the Class</h1>
<pre>
  class binding <a href="https://angular-zkaucs.stackblitz.io">EXAMPLE</a>
  <a href="https://stackblitz.com/edit/angular-zkaucs?file=src%2Fapp%2Fmovie-tile%2Fmovie-tile.component.html">code here</a>
</pre>

<h1>*ngFor loop </h1>
<pre>
  we are using ng for looping and displaying the content whicg is repeated.
  (the common task which we will be doing it many times)
  lets take an example of the displaying actors name from the object. <a href="https://angular-evwwsh.stackblitz.io">exapmle of listing name</a> 
  <a href="https://stackblitz.com/edit/angular-evwwsh?file=src%2Fapp%2Fapp.component.html">code</a>
</pre>

<h1>Directives</h1>
<pre>
  they are like comonents and services that exist in angular.
  pieces of funtionality that gets attached to the dome elements 

</pre>
  <h2>different types of directives</h2>
  <ul>
    <li>builtin /structured directives </li>
    <li>custom directives</li>
    <li>third party directives</li>
  </ul>


  <h1>*ngIf</h1>
  <pre>
    the hidden attribute and property binding which we used previously never removed the element from the page but 
    we want it to be removed from the element here is an example of it using ngIf.
    depending on the boolean value we are going to remove the element from the page
    if the element is selected giving the true value the elment will be addec in the page else it will be removed or never existecon the page.

    <a href="https://stackblitz.com/edit/angular-qjtcut?file=src%2Fapp%2Factor-display%2Factor-display.component.html">code</a>
    <a href="https://angular-qjtcut.stackblitz.io">Example for ngIf</a>
  </pre>

  <h1>*ngSwitch</h1>
  <pre>
    <a href="https://angular-sn1bop.stackblitz.io">example</a> and the <a href="https://stackblitz.com/edit/angular-sn1bop?file=src%2Fapp%2Frental-list%2Frental-list.component.html">code</a>
  </pre>

  
  <h1>Pipes in angular</h1>
  <pre>
    <a href="https://angular-xueaxf.stackblitz.io">example</a> and the <a href="https://stackblitz.com/edit/angular-xueaxf?file=src%2Fapp%2Factor-display%2Factor-display.component.html">code</a>
  </pre>